<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>
    <form action="#" th:action="@{/processForm}" th:object="${recipe}" method="post">
        <fieldset>
            <legend>Datos de la receta</legend>
            <label for="name">Nombre: </label>
            <input type="text" id="name" name="name" th:field="*{recipe.name}"><br>
            <label for="elaboration">Elaboración</label><br>
            <textarea name="elaboration" id="elaboration" cols="30" rows="10" th:field="*{recipe.elaboration}"></textarea>
        </fieldset>
        <fieldset>
            <legend>Ingredientes</legend>
            <label for="ingrediente">Ingrediente: </label>
            <th:block  th:each="ingredient,i : ${recipe.ingredients}">
                <input type="text" id="ingrediente"  th:field="*{recipe.ingredients[__${i.index}__].name}"><br>
            </th:block>
        </fieldset>
        <fieldset>
            <th:block th:each="family,i : ${recipe.families}">
                <input type="radio" name="family" value="tipicos" th:field="*{recipe.family}">Platos típicos<br>
                <input type="radio" name="family" value="legumbres" th:field="*{recipe.family}" > legumbres<br>
                <input type="radio" name="family" value="otros" th:field="*{recipe.family}" > Otros<br>
            </th:block>
        </fieldset>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>