<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="saveRecipe.html" method="post">
        <fieldset>
            <legend>Datos de la receta</legend>
            <label for="name">Nombre: </label>
            <input type="text" id="name" name="name"><br>
            <label for="elaboration">Elaboración</label><br>
            <textarea name="elaboration" id="elaboration" cols="30" rows="10"></textarea>
        </fieldset>
        <fieldset>
            <legend>Ingredientes</legend>
            <label for="ingrediente">Ingrediente: </label>
            <input type="text" id="ingrediente"><br>
        </fieldset>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>